<!DOCTYPE html>
<html>
  <head>
    <title>Video surveillance stopée</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <div id="head">
      <a href="{{ url_for('logout') }}"><button>se deconnecter</button></a>
      <a href="{{ url_for('video_listing') }}"
        ><button>Voir les videos</button></a
      >
    </div>
    <h1>Enregistrement arrêter</h1>
    <a href="{{ url_for('pre_stop_recording') }}"
      ><button>Commencer l'enregistrement</button></a
    >
    <style>
      #head {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
      }
    </style>
  </body>
</html>
